@import "../variables";

header {
  transition: all 0.3s ease-in-out;
  
  &.scrolled {
    padding: 0.5rem 0 !important;
    background-color: rgba($color: $primary, $alpha: 0.85);
    transition: all 0.3s ease-in-out;
  }

  ul {
    li {
      list-style: none;
      height: 3rem;
      line-height: 3rem;
      margin: 1rem 0;
      a {
        text-decoration: none;
        color: #fff !important;
      }
    }
  }
  ul.guestauth {
    margin-left: 1.65em;
    line-height: 2em;
    li {
      @include authLink;
    }
  }
}