@import '../variables';
@import './header';
@import './footer';

.hero {
  * {
    color: #fff;
  }

  p.head {
    margin: 1.4em 0 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  p.subtitle {
    margin: 0.5em 0;
  }

  ul {
    li {
      @include authLink;
      padding: 0.5em 2em;
      a {
        text-decoration: none;
        font-size: 1.25em;
        color: #fff;
      }
    }
  }
  img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}

#about,
#contact {
  height: 100vh;
  padding: 4rem 2.5rem;
  margin-top: 3em;
  margin-bottom: 3em;
  h4 {
    @include title;
  }
  h3 {
    @include subTitle;
  }
  img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}

#contact {
  form {
    input {
      margin: 0.75em 0;
      @include input;
    }
    textarea {
      resize: vertical;
      min-height: 5rem;
      max-height: 12rem;
      @include input;
    }
    button {
      @include authLink;
      margin: 1em;
      padding: 0.6em 1.75em;
      background-color: $primary;
      color: #fff;
      font-size: 1.25em;
      font-weight: bold;
      &:hover {
        color: $primary;
      }
    }
  }
}
