$appHeaderHeight: 3rem;

$body-bg: #f8fafc;

$primary: #676be5;
$primaryAlpha: hsla(238, 71%, 65%, 0.65);
$secondary: rgb(0, 168, 0);
$headerHeight: 3.5rem;

@mixin button {
    background-color: $secondary;
    color: #fff;
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
