header {
  position: fixed !important;
  padding: 1.5rem 0 !important;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
header.scrolled {
  padding: 0.5rem 0 !important;
  background-color: rgba(103, 107, 229, 0.85);
  transition: all 0.3s ease-in-out;
}
header .logo a {
  color: #fff;
}
header ul li a {
  text-decoration: none;
  color: #fff !important;
}
header ul.guestauth {
  margin-left: 1.65em;
}
header ul.guestauth li {
  box-sizing: border-box;
  padding: 0 1em;
  list-style: none;
  margin: 0 0.2em;
  border: 1px solid #fff;
  border-radius: 1.2em;
  text-align: center;
  transition: all 0.2s;
}
header ul.guestauth li:hover {
  background-color: #fdd282;
  border: none;
  transition: all 0.2s;
}
header ul.guestauth li:hover a {
  color: #333 !important;
}

footer {
  padding: 3rem 0 0 0;
  background-color: #676be5;
}
footer > *,
footer a {
  color: #fff;
}
footer ul {
  margin-left: -2em;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
}
footer .copyright {
  background-color: rgba(0, 0, 0, 0.15);
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

header {
  background-color: #676be5;
  padding: 0.5em 0 !important;
}

.content {
  background-color: aqua;
  width: 100%;
  height: 100%;
}

.login-content {
  background-color: white;
  width: 100%;
  height: 600px;
  display: flex;
}

.login-content .content-section {
  background-color: orange;
  height: 350px;
  width: 60%;
  margin-left: 280px;
  margin-top: 100px;
  border-radius: 6px;
  border: 2px solid rgb(28, 112, 168);
}

.content-section .login-text {
  background-color: rgb(28, 112, 168);
  height: 50px;
  width: 100%;
  border-radius: 6px;
}

.login-text .text {
  text-align: left;
  color: aliceblue;
  font-family: serif;
  font-size: 32px;
  margin-left: 10px;
}

.input-data {
  /* background-color: brown;*/
  width: 100%;
  height: 280px;
}

.email-section {
  /*background-color: aqua;*/
  height: 80px;
  width: 100%;
  display: flex;
}

.email-section .email-sec-div {
  /*background-color: aquamarine;*/
  height: 40px;
  width: 50%;
  margin-top: 20px;
}

.email-sec-div .email-label {
  text-align: center;
  color: black;
  font-family: serif;
  font-size: 25px;
  margin-left: 100px;
}

.email-section .email-input {
  /* background-color: yellow;*/
  height: 40px;
  width: 50%;
  margin-top: 20px;
}

.email-input .email-intext {
  height: 35px;
  width: 300px;
  border-radius: 6px;
  margin-top: 2px;
  margin-left: 50px;
  margin: 2px solid white;
}

.pass-section {
  /*background-color: aqua;*/
  height: 100px;
  width: 100%;
  display: flex;
}

.pass-section .pass-sec-div {
  /*background-color: aquamarine;*/
  height: 40px;
  width: 50%;
  margin-top: 20px;
}

.pass-sec-div .password-label {
  text-align: center;
  color: black;
  font-family: serif;
  font-size: 25px;
  margin-left: 100px;
}

.pass-section .pass-input {
  /* background-color: yellow;*/
  height: 40px;
  width: 50%;
  margin-top: 20px;
}

.pass-input .pass-intext {
  height: 35px;
  width: 300px;
  border-radius: 6px;
  margin-top: 2px;
  margin-left: 50px;
}

.login {
  /*background-color: aqua;*/
  height: 100px;
  width: 100%;
}

.login .login-btn {
  color: aliceblue;
  background-color: rgb(18, 121, 168);
  font-family: serif;
  font-size: 25px;
  margin-left: 320px;
  width: 150px;
  border-radius: 4px;
}
